/* phone */
.App .menu-side{
  display: flex;
  align-items: center;
    width: 100%;
    height: 50px;
    background-color: #006266;
}
.App .info-side{

    width: 100%;
    height: 300px;
    background-color: #FFC312;
}
.App section{
  width: 100%;
  height: 100%;
}
.App footer{
  position: relative;
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: space-between;
}





.App footer .number-div{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 50%;
}

.App footer .number-div .number{
    position: absolute;
  width: 135px;
    height: 135px;
    background-color: #12CBC4;
    border-top-right-radius: 50%;
    left: 0px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.App footer .number-div .number:hover{
  cursor: pointer;
}
.App footer .email-div{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 50%;
}
.App footer .email-div .email{
  position: absolute;
  width: 135px;
  height: 135px;
  background-color: #12CBC4;
  border-top-left-radius: 50%;
  right: 0px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.App footer .email-div .email:hover{
  cursor: pointer;
}

.App .menu-side .menu-bar{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

.App .menu-side .menu-bar .txt-menu a{
    color: white;
    font-size: 25px;
}
.App .menu-side .menu-bar .txt-menu:hover{
  text-shadow: #FFC312 0px 0px 15px;
  cursor: pointer;
}

.App header .info-side {
    padding-left: 10%;
    padding-top: 5%;
    box-sizing: border-box;
}

.App header .info-side {
  position: relative;
  padding-right: 10px;
}
.App header .info-side .info .profile-img{
  transition: all 1s ease-out ;
  transform: translateX(0px);
  width: 150px;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
}
.App header .info-side .info .name{
    position: absolute;
    font-family: work-in-progress;
    color: white;
    font-size: 25px;
    left: 20%;
}

.App header .info-side .info .birthday{
  position: absolute;
    font-family: work-in-progress;
    color: rgb(0, 0, 0);
    font-size: 10px;
    left: 32%;
    top: 80px;
}
.App header .info-side .info .job{
  position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    left: 30%;
    top: 95px;
}
.App header .info-side .info .about{
  position: absolute;
    color: rgb(0, 0, 0);
    font-size: 10px;
    left: 30%;
    top: 160px;
}
.animation-img{
  filter: brightness(-10), blur(0.5);
}
section .aboutme{
  position: relative;
  padding: 25px;
}
section .aboutme .aboutme-txt{
  color: white;
  font-size: 25px;
  
}
section .aboutme .aboutme-description{
  color: #FFC312;
  text-shadow: 2px 2px 5px #006266 ;
  padding: 25px;
  text-align: left;
}
section .aboutme .panda-img{
  height: 300px;
  position: absolute;
  left: -50px;
}
section .resume-list{
  display: flex;
  flex-direction: column;
  margin-top: 400px;
  justify-content: center;
  align-items: center;
}
section .resume-list .parsa-site img{
  height: 400px;
  border-radius: 25px;
  filter:brightness(0.1);
  transition: filter 0.2s ease-in-out;
  }
section .resume-list .parsa-site img:hover{
  filter:brightness(1)
}
footer .number-div .number .call{
  position: absolute;
  height: 50px;
  top: 30%;
  left: 30%;
  z-index: 3;
}
footer .email-div .email .mail{
  position: absolute;
  height: 50px;
  top: 30%;
  right: 30%;
  z-index: 3;
}

.number-txt{
  display: none;
  position: relative;
  z-index: 0;
  height: 70%;
  width: 98%;
  background-color: antiquewhite;
  border-radius: 0px 50px;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.email-txt{
  display: none;
  position: relative;
  z-index: 0;
  height: 70%;
  width: 98%;
  background-color: antiquewhite;
  border-radius:  50px 0px;
  justify-content: center;
  align-items: center;
  right: 0;
   text-align:left;
}
.number-on{
  display: flex;
}
.email-on{
  display: flex;
}



/* tablet size */
@media (min-width:1024px) {
  .App header{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
  }
  .App .info-side{
    display: inline;
    height: 400px;
    background-color: #FFC312;
    grid-column: 1/3;
    grid-row: 1/2;

  }
  .App .menu-side{
    display: inline;
    height: 400px;
    background-color: #006266;
    grid-column: 3/5;
    justify-content: center;
    align-items: center;
  }
  .App .menu-side .menu-bar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: start;
  }
  .aboutme{
    margin-top: 0%;
  }
  .resume{
    margin-top: 20%;
  }
  .contactus{
    margin-top: 40%;
  }
  .App header .info-side .info .name{
    position: absolute;
    font-family: work-in-progress;
    color: white;
    font-size: 35px;
    left: 20%;
}
section .aboutme .aboutme-description{
  text-align: center;
}
section .aboutme .panda-img{
  height: 400px;
  left: -100px;
}

}